[Verification_report](https://docs.google.com/document/d/1ZbW2CRMZChyjlZ5vIaqdZbUlk0D4eXk-/edit?usp=sharing&ouid=101239020011374050948&rtpof=true&sd=true)
